name: AI PR Review

on:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  summarize:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: dirtycajunrice/ai-commit-summary@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}